body {
    margin-top: 70px;
    background: #333;
    color: #fff;
}

html {
    font-size: 14px;
}

.millistyle{
    border-color: #cc33ff;
    color: #cc33ff;
}
@include media-breakpoint-up(sm) {
    html {
        font-size: 16px;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 20px;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 28px;
    }
}